.light html, body {
    background-repeat: no-repeat;
    background-color: #F7ECDF;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: url('/static/cursor.png'), auto;
  }

#welcome{
    margin-left: 10vw;
    font-family: 'Yeseva One', cursive;
    color: #EF972E;
}

.light #welcome{
    margin-left: 10vw;
    font-family: 'Yeseva One', cursive;
    color: #EF972E;
}

.night #welcome{
    margin-left: 10vw;
    font-family: 'Yeseva One', cursive;
    color:whitesmoke;
}

.text {
    margin-top: 0;
    max-width: 50vw;
    font-size: 150%;
}
#top {
    font-size: 400%;
    font-weight: bold;
}

#middle {
    margin-top: 6vh;
    font-size: 200%;
}

#bottom {
    font-size: 150%;
    color: #FAB083;
}

.light #bottom {
    font-size: 150%;
    color: #FAB083;
}

.night #bottom {
    font-size: 150%;
    color: whitesmoke;
}

ul {
    list-style: none;
}
  
ul li::before {
    content: "\2022";
    color: #EF972E;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.light ul li::before {
    content: "\2022";
    color: #EF972E;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.night ul li::before {
    content: "\2022";
    color: whitesmoke;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.row {
    background-color: #FAB083;
    font-family: Mermaid;
    font-size: 14px;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 10%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 25px;
}

.night .row{
    background-color: rgba(153, 153, 153, 1);
    font-family: Mermaid;
    font-size: 14px;
    color: #f5f5f5;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 25px;
}

.active, .accordion:hover {
    background-color: #EF972E;
    color: white;
    outline: none;
    border: none;
}

h1{
    font-family: 'Yeseva One', cursive;
    text-align: left;
    font-size: 45px;
}

p, li{
    font-family: Raleway;
    font-size: 20px;
    color: #444;
}

.light li{
    font-family: Raleway;
    font-size: 20px;
    color: #444;
}

.night li{
    font-family: Raleway;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.light p{
    font-family: Raleway;
    font-size: 20px;
    color: #444;
}

.night p{
    font-family: Raleway;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.light {
    background-color: #F7ECDF;
    color: #EF972E;
}
  
.light .desc {
    color: black;
}
  
.night .desc {
    color: gray;
}
  
.night {
    background-color: black;
    color: white;
}


  /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffd3b6;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #ccc;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
  

.night .bar .move-up {
    font-size: 20px; 
    background-color: black; 
    border: none;
    color: whitesmoke;
}

.night .bar .move-down {
    font-size: 20px; 
    background-color: black; 
    border: none;
    color: whitesmoke;
}

.light .mode{
    font-family: Mermaid; font-size: 20px; color: black;
}

.night .mode{
    font-family: Mermaid; font-size: 20px; color: #EF972E;
}

.mode{
    font-family: Mermaid; font-size: 20px; color: black;
}

.light .move-up {
    font-size: 20px; 
    background-color: #ffd3b6; 
    border: none;
}

.light .move-down {
    font-size: 20px; 
    background-color: #ffd3b6; 
    border: none;
}

.night .move-up {
    font-size: 20px; 
    background-color: black; 
    border: none;
    color: whitesmoke;
}

.night .move-down {
    font-size: 20px; 
    background-color: black; 
    border: none;
    color: whitesmoke;
}
