<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen"/>

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <title>w e l c o m e ! | z a h r a</title>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function() {
          $("#accordion").accordion({
          });
        });
    </script>

  </head>

  <body class="light">
      <div class="container">
          <div class="row-sm">
              <div id="welcome">
                <div class="col-sm-12">
                    <h1 class="text" id="top">Halo!</h1>
                    <h1 class="text" id="middle">welcome to my website</h1>
                    <h1 class="text" id="bottom">i'm zahra! nice to meet u!</h1>

                    <h3 id="changeText" class="mode">dark mode</h3>
                    <label class="switch">
                        <input id="changeTheme" type="checkbox" checked>
                        <span class="slider round"></span>
                     </label>

                </div>
              </div>
              <div class="col-sm-7">
                <div id="accordion">
                    <div class="item">
                        <div class="row accordion">
                            <div class="col-sm-8" data-toggle="collapse" href="#isiabout">
                                <h2 style="padding-top: 10px;" id="about">about me</h2>
                            </div>
                            <div class="col-sm-4">
                                <div class="move" style="text-align: right;">
                                    <button id="oneUp" class="btn-light move-up">▲</button> <button id="oneDown" class="btn-light move-down">▼</button>
                                </div> 
                            </div>  
                        </div>
                        <div class="collapse desc" id="isiabout">
                            <p> 
                                halo, i'm Azzahra Abraara, but you can call me zahra. currently, i'm studying in faculty of computer science at university
                                of indonesia as a second year student. i'm interested in anything about design and also love to read mystery or detective novels and movies.
                            </p>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="row accordion">
                            <div class="col-sm-10" data-toggle="collapse" href="#isi2">
                                <h2 style="padding-top: 10px;">i'm currently . . .</h2>
                            </div>
                            <div class="col-sm-2">
                                <div class="move" style="text-align: right;">
                                    <button id="oneUp" class="btn-light move-up">▲</button> <button id="oneDown" class="btn-light move-down">▼</button>
                                </div> 
                            </div>
                        </div>
                        <div class="collapse desc" id="isi2">
                            <p>i'm currently a full-time student! because of this pandemic, i usually eat lots of foods, watch movies,
                                and also do the college's tasks
                            </p>
                        </div>
                    </div>
        
                    <div class="item">
                        <div class="row accordion">
                            <div class="col-sm-10" data-toggle="collapse" href="#isiexperience">
                                <h2 style="padding-top: 10px;">experiences</h2>
                            </div>
                            <div class="col-sm-2">
                                <div class="move" style="text-align: right;">
                                    <button id="oneUp" class="btn-light move-up">▲</button> <button id="oneDown" class="btn-light move-down">▼</button>
                                </div> 
                            </div>
                        </div>
                        <div class="collapse desc" id="isiexperience">
                            <ul>
                                <li>Person in Charge of Finance, COMPFEST 12</li>
                                <li>HRD of Design, PERAK 2020</li>
                                <li>Staff of Design, UI Art War 2019</li>
                                <li>Staff of Design, Fasilkom Open House 2019</li>
                                <li>Staff of Design, Paragita Yearly Concert 2019</li>
                            </ul>
                        </div>
                    </div>
        
                    <div class="item">
                        <div class="row accordion">
                            <div class="col-sm-10" data-toggle="collapse" href="#isiskills">
                                <h2 style="padding-top: 10px;">skills</h2>
                            </div>
                            <div class="col-sm-2">
                                <div class="move" style="text-align: right;">
                                    <button id="oneUp" class="btn-light move-up">▲</button> <button id="oneDown" class="btn-light move-down">▼</button>
                                </div> 
                            </div>
                        </div>
                        <div class="collapse desc" id="isiskills">
                            <ul>
                                <li>programming (python, java)</li>
                                <li>analytics (excel, postgresql)</li>
                                <li>web (html / css / jscript)</li>
                                <li>design (photoshop, illustrator)</li>
                            </ul>
                        </div>
                    </div>
                </div>
              </div>

              <div class="row-sm-10">
                  <br><br><br><br><br><br><br>
              </div>
          </div>
      </div>

        <script src="http://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script>
            jQuery('.move').children().click(function (e) {
            var $div = $(this).closest('.item');
            if (jQuery(e.target).is('.move-down')) { 
                $div.next('.item').after($div);
            } else {
               $div.prev('.item').before($div);
            }
        });
        </script>  

        <script>
            $("#changeTheme").click(() => {
            let body = document.querySelector('body')
            if (body.classList.contains('light')) {
                $("#changeText").html('light mode')
                body.classList.remove('light');
                body.classList.add('night');
            }
            else {
                $("#changeText").html('dark mode')
                body.classList.remove('night');
                body.classList.add('light');
            }
        });
        </script>

</body>
